body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:480px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:11px;
  top:11px;
  width:478px;
  height:44px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:480px;
  width:485px;
  height:255px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u8 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u10 {
  position:absolute;
  left:320px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u12 {
  position:absolute;
  left:0px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u14 {
  position:absolute;
  left:160px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u16 {
  position:absolute;
  left:320px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u18 {
  position:absolute;
  left:0px;
  top:100px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u20 {
  position:absolute;
  left:160px;
  top:100px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u22 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u24 {
  position:absolute;
  left:0px;
  top:150px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u26 {
  position:absolute;
  left:160px;
  top:150px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u28 {
  position:absolute;
  left:320px;
  top:150px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u30 {
  position:absolute;
  left:0px;
  top:200px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u32 {
  position:absolute;
  left:160px;
  top:200px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u34 {
  position:absolute;
  left:320px;
  top:200px;
  width:160px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u36 {
  position:absolute;
  left:230px;
  top:19px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:500px;
  top:555px;
  width:321px;
  height:112px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40 {
  position:absolute;
  left:50px;
  top:114px;
  width:402px;
  height:231px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
