body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:256px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:262px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:261px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:24px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:46px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:76px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:30px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:196px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:226px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:130px;
  top:106px;
  width:648px;
  height:177px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:97px;
  top:0px;
  width:97px;
  height:22px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:194px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:291px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:388px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:543px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:22px;
  width:97px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:97px;
  top:22px;
  width:97px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:194px;
  top:22px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:291px;
  top:22px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:388px;
  top:22px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:543px;
  top:22px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:52px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:97px;
  top:52px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:194px;
  top:52px;
  width:97px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:291px;
  top:52px;
  width:97px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:388px;
  top:52px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:543px;
  top:52px;
  width:100px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:82px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:97px;
  top:82px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:194px;
  top:82px;
  width:97px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:291px;
  top:82px;
  width:97px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:388px;
  top:82px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:543px;
  top:82px;
  width:100px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:112px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:97px;
  top:112px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:194px;
  top:112px;
  width:97px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:291px;
  top:112px;
  width:97px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:388px;
  top:112px;
  width:155px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:543px;
  top:112px;
  width:100px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:142px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:97px;
  top:142px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:194px;
  top:142px;
  width:97px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:291px;
  top:142px;
  width:97px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:388px;
  top:142px;
  width:155px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:543px;
  top:142px;
  width:100px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:693px;
  top:164px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:693px;
  top:224px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:693px;
  top:254px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:312px;
  top:77px;
  width:66px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:378px;
  top:75px;
  width:84px;
  height:22px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u101_input {
  font-family:'应用字体';
}
#u101_input:disabled {
  color:grayText;
}
#u102 {
  position:absolute;
  left:130px;
  top:40px;
  width:200px;
  height:30px;
}
#u102_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:36px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:35px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:693px;
  top:194px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:130px;
  top:77px;
  width:200px;
  height:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:190px;
  top:77px;
  width:100px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:529px;
  top:134px;
  width:53px;
  height:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:608px;
  top:134px;
  width:53px;
  height:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:593px;
  top:130px;
  width:10px;
  height:148px;
}
#u118_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u118_end {
  position:absolute;
  left:-5px;
  top:131px;
  width:20px;
  height:18px;
}
#u118_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:148px;
}
#u119 {
  position:absolute;
  left:522px;
  top:222px;
  width:73px;
  height:25px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119_input {
  font-family:'应用字体';
}
#u120 {
  position:absolute;
  left:603px;
  top:222px;
  width:67px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u120_input {
  font-family:'应用字体';
}
#u121 {
  position:absolute;
  left:522px;
  top:250px;
  width:73px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u121_input {
  font-family:'应用字体';
}
#u122 {
  position:absolute;
  left:603px;
  top:250px;
  width:67px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u122_input {
  font-family:'应用字体';
}
#u123 {
  position:absolute;
  left:500px;
  top:300px;
  width:380px;
  height:15px;
  color:#FF0000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
