body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6497 {
  position:absolute;
  left:60px;
  top:0px;
  width:50px;
  height:50px;
}
#u6498 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6499 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6500 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6501 {
  position:absolute;
  left:120px;
  top:0px;
  width:50px;
  height:50px;
}
#u6502 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6503 {
  position:absolute;
  left:180px;
  top:0px;
  width:50px;
  height:50px;
}
#u6504 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6505 {
  position:absolute;
  left:240px;
  top:0px;
  width:50px;
  height:50px;
}
#u6506 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6507 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:50px;
}
#u6508 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6509 {
  position:absolute;
  left:60px;
  top:60px;
  width:50px;
  height:50px;
}
#u6510 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6511 {
  position:absolute;
  left:120px;
  top:60px;
  width:50px;
  height:50px;
}
#u6512 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
