body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1454px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1920px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1920px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:952px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1866 {
  position:absolute;
  left:18px;
  top:29px;
  width:111px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:139px;
  top:29px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:226px;
  top:29px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:818px;
  top:30px;
  width:14px;
  height:16px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:833px;
  top:29px;
  width:64px;
  height:20px;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u1877 {
  position:absolute;
  left:911px;
  top:32px;
  width:18px;
  height:14px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:-1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u1879 {
  position:absolute;
  left:939px;
  top:31px;
  width:18px;
  height:15px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:5px;
}
#u1881 {
  position:absolute;
  left:19px;
  top:49px;
  width:96px;
  height:2px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:-7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885 {
  position:absolute;
  left:28px;
  top:106px;
  width:505px;
  height:35px;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1888 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1890 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1891 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1893 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1895 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:2px;
}
#u1896 {
  position:absolute;
  left:29px;
  top:135px;
  width:956px;
  height:1px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  position:absolute;
  left:1429px;
  top:0px;
  width:25px;
  height:16px;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1903 {
  position:absolute;
  left:28px;
  top:106px;
  width:505px;
  height:35px;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1906 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1908 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1910 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1911 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1912 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1913 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:2px;
}
#u1914 {
  position:absolute;
  left:29px;
  top:135px;
  width:956px;
  height:1px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:28px;
  top:156px;
  width:957px;
  height:478px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:231px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u1919 {
  position:absolute;
  left:152px;
  top:344px;
  width:300px;
  height:42px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1921 {
  position:absolute;
  left:44px;
  top:170px;
  width:73px;
  height:30px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1923 {
  position:absolute;
  left:44px;
  top:316px;
  width:893px;
  height:267px;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1925 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1926 {
  position:absolute;
  left:93px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1927 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1928 {
  position:absolute;
  left:239px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1929 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u1930 {
  position:absolute;
  left:384px;
  top:0px;
  width:142px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1932 {
  position:absolute;
  left:526px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1933 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1934 {
  position:absolute;
  left:664px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1936 {
  position:absolute;
  left:761px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:30px;
  width:93px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:29px;
}
#u1940 {
  position:absolute;
  left:93px;
  top:30px;
  width:146px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
  text-align:left;
}
#u1941 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u1942 {
  position:absolute;
  left:239px;
  top:30px;
  width:145px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1943 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:29px;
}
#u1944 {
  position:absolute;
  left:384px;
  top:30px;
  width:142px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1945 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u1946 {
  position:absolute;
  left:526px;
  top:30px;
  width:138px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1947 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u1948 {
  position:absolute;
  left:664px;
  top:30px;
  width:97px;
  height:29px;
  color:#00CC33;
}
#u1949 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u1950 {
  position:absolute;
  left:761px;
  top:30px;
  width:127px;
  height:29px;
  color:#00CC33;
}
#u1951 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:59px;
  width:93px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1953 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u1954 {
  position:absolute;
  left:93px;
  top:59px;
  width:146px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u1955 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u1956 {
  position:absolute;
  left:239px;
  top:59px;
  width:145px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1957 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u1958 {
  position:absolute;
  left:384px;
  top:59px;
  width:142px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1959 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
}
#u1960 {
  position:absolute;
  left:526px;
  top:59px;
  width:138px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1961 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u1962 {
  position:absolute;
  left:664px;
  top:59px;
  width:97px;
  height:31px;
  color:#00CC33;
}
#u1963 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u1964 {
  position:absolute;
  left:761px;
  top:59px;
  width:127px;
  height:31px;
  color:#00CC33;
}
#u1965 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:90px;
  width:93px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u1968 {
  position:absolute;
  left:93px;
  top:90px;
  width:146px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1969 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u1970 {
  position:absolute;
  left:239px;
  top:90px;
  width:145px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1971 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u1972 {
  position:absolute;
  left:384px;
  top:90px;
  width:142px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1973 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
}
#u1974 {
  position:absolute;
  left:526px;
  top:90px;
  width:138px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009900;
}
#u1975 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u1976 {
  position:absolute;
  left:664px;
  top:90px;
  width:97px;
  height:32px;
  color:#00CC33;
}
#u1977 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u1978 {
  position:absolute;
  left:761px;
  top:90px;
  width:127px;
  height:32px;
  color:#00CC33;
}
#u1979 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:45px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:122px;
  width:93px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:45px;
}
#u1982 {
  position:absolute;
  left:93px;
  top:122px;
  width:146px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1983 {
  position:absolute;
  left:2px;
  top:14px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u1984 {
  position:absolute;
  left:239px;
  top:122px;
  width:145px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1985 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
}
#u1986 {
  position:absolute;
  left:384px;
  top:122px;
  width:142px;
  height:45px;
  color:#00CC33;
}
#u1987 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:45px;
}
#u1988 {
  position:absolute;
  left:526px;
  top:122px;
  width:138px;
  height:45px;
  color:#00CC33;
}
#u1989 {
  position:absolute;
  left:2px;
  top:15px;
  width:134px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u1990 {
  position:absolute;
  left:664px;
  top:122px;
  width:97px;
  height:45px;
  color:#00CC33;
}
#u1991 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u1992 {
  position:absolute;
  left:761px;
  top:122px;
  width:127px;
  height:45px;
  color:#00CC33;
}
#u1993 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:45px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:167px;
  width:93px;
  height:45px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:15px;
  width:89px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:45px;
}
#u1996 {
  position:absolute;
  left:93px;
  top:167px;
  width:146px;
  height:45px;
  color:#00CC33;
}
#u1997 {
  position:absolute;
  left:2px;
  top:14px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u1998 {
  position:absolute;
  left:239px;
  top:167px;
  width:145px;
  height:45px;
  color:#00CC33;
}
#u1999 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:45px;
}
#u2000 {
  position:absolute;
  left:384px;
  top:167px;
  width:142px;
  height:45px;
  color:#00CC33;
}
#u2001 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:45px;
}
#u2002 {
  position:absolute;
  left:526px;
  top:167px;
  width:138px;
  height:45px;
  color:#00CC33;
}
#u2003 {
  position:absolute;
  left:2px;
  top:15px;
  width:134px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u2004 {
  position:absolute;
  left:664px;
  top:167px;
  width:97px;
  height:45px;
  color:#00CC33;
}
#u2005 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u2006 {
  position:absolute;
  left:761px;
  top:167px;
  width:127px;
  height:45px;
  color:#00CC33;
}
#u2007 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:212px;
  width:93px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2009 {
  position:absolute;
  left:2px;
  top:16px;
  width:89px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u2010 {
  position:absolute;
  left:93px;
  top:212px;
  width:146px;
  height:50px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:17px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u2012 {
  position:absolute;
  left:239px;
  top:212px;
  width:145px;
  height:50px;
  color:#00CC33;
}
#u2013 {
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u2014 {
  position:absolute;
  left:384px;
  top:212px;
  width:142px;
  height:50px;
  color:#00CC33;
}
#u2015 {
  position:absolute;
  left:2px;
  top:17px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u2016 {
  position:absolute;
  left:526px;
  top:212px;
  width:138px;
  height:50px;
  color:#00CC33;
}
#u2017 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u2018 {
  position:absolute;
  left:664px;
  top:212px;
  width:97px;
  height:50px;
  color:#00CC33;
}
#u2019 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u2020 {
  position:absolute;
  left:761px;
  top:212px;
  width:127px;
  height:50px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2022 {
  position:absolute;
  left:336px;
  top:236px;
  width:64px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2023 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2024 {
  position:absolute;
  left:410px;
  top:236px;
  width:64px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2025 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2027 {
  position:absolute;
  left:233px;
  top:206px;
  width:54px;
  height:22px;
}
#u2027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2027_input {
  font-family:'应用字体';
}
#u2027_input:disabled {
  color:grayText;
}
#u2028 {
  position:absolute;
  left:169px;
  top:206px;
  width:54px;
  height:22px;
}
#u2028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2028_input {
  font-family:'应用字体';
}
#u2028_input:disabled {
  color:grayText;
}
#u2029 {
  position:absolute;
  left:44px;
  top:203px;
  width:123px;
  height:31px;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2032 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:26px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035 {
  position:absolute;
  left:169px;
  top:242px;
  width:54px;
  height:22px;
}
#u2035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2035_input {
  font-family:'应用字体';
}
#u2035_input:disabled {
  color:grayText;
}
#u2036 {
  position:absolute;
  left:44px;
  top:239px;
  width:123px;
  height:31px;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u2039 {
  position:absolute;
  left:59px;
  top:0px;
  width:59px;
  height:26px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:272px;
  height:5px;
}
#u2041 {
  position:absolute;
  left:44px;
  top:234px;
  width:269px;
  height:2px;
  color:#FF0000;
}
#u2042 {
  position:absolute;
  left:2px;
  top:-7px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2043 {
  position:absolute;
  left:140px;
  top:173px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2045_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:985px;
  height:5px;
}
#u2045 {
  position:absolute;
  left:18px;
  top:443px;
  width:982px;
  height:2px;
  color:#FF0000;
}
#u2046 {
  position:absolute;
  left:2px;
  top:-7px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2047 {
  position:absolute;
  left:320px;
  top:206px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2049 {
  position:absolute;
  left:391px;
  top:206px;
  width:83px;
  height:22px;
}
#u2049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2049_input {
  font-family:'应用字体';
}
#u2049_input:disabled {
  color:grayText;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2050 {
  position:absolute;
  left:500px;
  top:156px;
  width:415px;
  height:97px;
  color:#FF0000;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2052 {
  position:absolute;
  left:554px;
  top:278px;
  width:361px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2054 {
  position:absolute;
  left:206px;
  top:378px;
  width:68px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2055 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2056 {
  position:absolute;
  left:54px;
  top:278px;
  width:479px;
  height:35px;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:158px;
  top:0px;
  width:158px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:316px;
  top:0px;
  width:158px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2062 {
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u2063 {
  position:absolute;
  left:55px;
  top:307px;
  width:940px;
  height:1px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u2067 {
  position:absolute;
  left:407px;
  top:543px;
  width:13px;
  height:14px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u2069 {
  position:absolute;
  left:405px;
  top:557px;
  width:22px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u2071 {
  position:absolute;
  left:361px;
  top:540px;
  width:41px;
  height:28px;
  font-size:10px;
  color:#00CC33;
  text-align:center;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#33CC33;
}
#u2073 {
  position:absolute;
  left:294px;
  top:546px;
  width:62px;
  height:15px;
  font-size:13px;
  color:#33CC33;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u2077 {
  position:absolute;
  left:543px;
  top:543px;
  width:13px;
  height:14px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u2079 {
  position:absolute;
  left:541px;
  top:557px;
  width:22px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u2081 {
  position:absolute;
  left:497px;
  top:540px;
  width:41px;
  height:28px;
  font-size:10px;
  color:#00CC33;
  text-align:center;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#33CC33;
}
#u2083 {
  position:absolute;
  left:433px;
  top:546px;
  width:62px;
  height:15px;
  font-size:13px;
  color:#33CC33;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u2087 {
  position:absolute;
  left:687px;
  top:543px;
  width:13px;
  height:14px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u2089 {
  position:absolute;
  left:685px;
  top:557px;
  width:22px;
  height:11px;
  font-size:10px;
  color:#FF0000;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u2091 {
  position:absolute;
  left:641px;
  top:540px;
  width:41px;
  height:28px;
  font-size:10px;
  color:#00CC33;
  text-align:center;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#33CC33;
}
#u2093 {
  position:absolute;
  left:576px;
  top:546px;
  width:62px;
  height:15px;
  font-size:13px;
  color:#33CC33;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2095 {
  position:absolute;
  left:336px;
  top:584px;
  width:286px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2097 {
  position:absolute;
  left:28px;
  top:584px;
  width:338px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
