body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:110px;
  top:214px;
  width:161px;
  height:16px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
