body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:43px;
  top:187px;
  width:133px;
  height:18px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:43px;
  top:215px;
  width:300px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:43px;
  top:331px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:123px;
  top:370px;
  width:220px;
  height:43px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:180px;
  top:0px;
  width:39px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:180px;
  top:0px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:43px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:0px;
  width:39px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:123px;
  top:318px;
  width:219px;
  height:42px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:1px;
  top:1px;
  width:219px;
  height:41px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:42px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:132px;
  top:600px;
  width:120px;
  height:30px;
  color:#1B1B1B;
}
#u30_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:122px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:156px;
  top:147px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:124px;
  top:413px;
  width:218px;
  height:100px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35 {
  position:absolute;
  left:43px;
  top:380px;
  width:69px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:390px;
  top:332px;
  width:195px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
