body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:717px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  position:absolute;
  left:0px;
  top:70px;
  width:1000px;
  height:717px;
}
#u626 {
  position:absolute;
  left:2px;
  top:350px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u627 {
  position:absolute;
  left:137px;
  top:53px;
  width:863px;
  height:56px;
}
#u628 {
  position:absolute;
  left:2px;
  top:20px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:521px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 188, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:0px;
  top:53px;
  width:137px;
  height:521px;
}
#u630 {
  position:absolute;
  left:2px;
  top:252px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:224px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:0px;
  top:164px;
  width:137px;
  height:224px;
}
#u632 {
  position:absolute;
  left:2px;
  top:104px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u633 {
  position:absolute;
  left:13px;
  top:74px;
  width:15px;
  height:15px;
}
#u634 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u635 {
  position:absolute;
  left:14px;
  top:130px;
  width:15px;
  height:15px;
}
#u636 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u637 {
  position:absolute;
  left:13px;
  top:464px;
  width:15px;
  height:15px;
}
#u638 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u639 {
  position:absolute;
  left:13px;
  top:520px;
  width:15px;
  height:15px;
}
#u640 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u641 {
  position:absolute;
  left:38px;
  top:67px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u643 {
  position:absolute;
  left:39px;
  top:131px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:38px;
  top:457px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u647 {
  position:absolute;
  left:38px;
  top:520px;
  width:25px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u649 {
  position:absolute;
  left:109px;
  top:129px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u650 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u653 {
  position:absolute;
  left:917px;
  top:24px;
  width:15px;
  height:15px;
}
#u654 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u655 {
  position:absolute;
  left:802px;
  top:24px;
  width:15px;
  height:15px;
}
#u656 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u657 {
  position:absolute;
  left:942px;
  top:23px;
  width:39px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u659 {
  position:absolute;
  left:868px;
  top:17px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u660 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u661 {
  position:absolute;
  left:862px;
  top:24px;
  width:15px;
  height:15px;
}
#u662 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u663 {
  position:absolute;
  left:0px;
  top:4px;
  width:137px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  word-wrap:break-word;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:0px;
  top:220px;
  width:137px;
  height:56px;
}
#u667 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:81px;
  top:239px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u671 {
  position:absolute;
  left:217px;
  top:74px;
  width:5px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u673 {
  position:absolute;
  left:169px;
  top:74px;
  width:121px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(134, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:0px;
  top:324px;
  width:137px;
  height:56px;
}
#u677 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u678 {
  position:absolute;
  left:81px;
  top:343px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:81px;
  top:183px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u683 {
  position:absolute;
  left:159px;
  top:123px;
  width:405px;
  height:35px;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u686 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u687 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u688 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u689 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u690 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u691 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u692 {
  position:absolute;
  left:334px;
  top:171px;
  width:173px;
  height:61px;
  font-size:16px;
}
#u693 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  word-wrap:break-word;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:153px;
  top:274px;
  width:406px;
  height:468px;
}
#u698 {
  position:absolute;
  left:2px;
  top:226px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:158px;
  top:313px;
  width:57px;
  height:141px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:210px;
  top:313px;
  width:271px;
  height:19px;
}
#u703 {
  position:absolute;
  left:2px;
  top:2px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:210px;
  top:350px;
  width:130px;
  height:19px;
}
#u705 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:210px;
  top:389px;
  width:99px;
  height:19px;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u708 {
  position:absolute;
  left:512px;
  top:311px;
  width:29px;
  height:141px;
  text-decoration:underline;
  color:#0066FF;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:161px;
  top:283px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u712 {
  position:absolute;
  left:512px;
  top:281px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:311px;
  top:714px;
  width:97px;
  height:20px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u716 {
  position:absolute;
  left:153px;
  top:249px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u718 {
  position:absolute;
  left:153px;
  top:171px;
  width:173px;
  height:61px;
  font-size:16px;
}
#u719 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u720 {
  position:absolute;
  left:515px;
  top:171px;
  width:173px;
  height:61px;
  font-size:16px;
}
#u721 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  word-wrap:break-word;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:580px;
  top:274px;
  width:406px;
  height:468px;
}
#u726 {
  position:absolute;
  left:2px;
  top:226px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:586px;
  top:312px;
  width:114px;
  height:141px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:710px;
  top:312px;
  width:219px;
  height:19px;
}
#u731 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:710px;
  top:349px;
  width:89px;
  height:19px;
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:710px;
  top:389px;
  width:58px;
  height:19px;
}
#u735 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u736 {
  position:absolute;
  left:939px;
  top:310px;
  width:29px;
  height:141px;
  text-decoration:underline;
  color:#0066FF;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u738 {
  position:absolute;
  left:588px;
  top:282px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u740 {
  position:absolute;
  left:939px;
  top:280px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:735px;
  top:714px;
  width:97px;
  height:20px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:580px;
  top:249px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u747 {
  position:absolute;
  left:81px;
  top:294px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:0px;
  top:383px;
  width:137px;
  height:56px;
}
#u750 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u751 {
  position:absolute;
  left:81px;
  top:402px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
