body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 251, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:25px;
  top:43px;
  width:244px;
  height:327px;
}
#u2 {
  position:absolute;
  left:2px;
  top:156px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u3 {
  position:absolute;
  left:27px;
  top:343px;
  width:240px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:33px;
  top:49px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:33px;
  top:108px;
  width:210px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:33px;
  top:126px;
  width:134px;
  height:20px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_input {
  font-family:'应用字体';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u10 {
  position:absolute;
  left:27px;
  top:343px;
  width:240px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u12 {
  position:absolute;
  left:43px;
  top:313px;
  width:73px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1E1E1E;
}
#u14 {
  position:absolute;
  left:165px;
  top:313px;
  width:87px;
  height:24px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1E1E1E;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:33px;
  top:169px;
  width:231px;
  height:85px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:85px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input {
  font-family:'应用字体';
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:33px;
  top:147px;
  width:213px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u19 {
  position:absolute;
  left:177px;
  top:124px;
  width:87px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u21 {
  position:absolute;
  left:33px;
  top:265px;
  width:210px;
  height:18px;
  color:#1E1E1E;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:33px;
  top:283px;
  width:231px;
  height:20px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23_input {
  font-family:'应用字体';
}
#u24 {
  position:absolute;
  left:49px;
  top:80px;
  width:152px;
  height:18px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:172px;
  top:80px;
  width:152px;
  height:18px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28 {
  position:absolute;
  left:300px;
  top:67px;
  width:421px;
  height:81px;
  color:#FF0000;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u30 {
  position:absolute;
  left:300px;
  top:222px;
  width:295px;
  height:61px;
  color:#FF0000;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
