body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:210px;
  width:120px;
  height:18px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:100px;
  top:150px;
  width:200px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:174px;
  top:131px;
  width:37px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:61px;
  top:353px;
  width:86px;
  height:48px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:235px;
  top:353px;
  width:86px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:82px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:37px;
  top:333px;
  width:310px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u18 {
  position:absolute;
  left:32px;
  top:638px;
  width:320px;
  height:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:195px;
  top:520px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:87px;
  top:520px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:87px;
  top:411px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:195px;
  top:411px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:37px;
  top:642px;
  width:70px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:117px;
  top:642px;
  width:70px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:197px;
  top:642px;
  width:70px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:277px;
  top:642px;
  width:70px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:172px;
  top:341px;
  width:42px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:32px;
  top:160px;
  width:320px;
  height:178px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:178px;
}
#u40 {
  position:absolute;
  left:2px;
  top:81px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:144px;
  top:242px;
  width:96px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:402px;
  top:161px;
  width:400px;
  height:240px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:240px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
