body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:40px;
  width:100px;
  height:196px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:202px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:201px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:24px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:46px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:76px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:136px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:105px;
  width:895px;
  height:135px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:95px;
  top:0px;
  width:95px;
  height:40px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:190px;
  top:0px;
  width:82px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:78px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:272px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:381px;
  top:0px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:477px;
  top:0px;
  width:127px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:604px;
  top:0px;
  width:126px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:730px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:40px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:95px;
  top:40px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:190px;
  top:40px;
  width:82px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:272px;
  top:40px;
  width:109px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:381px;
  top:40px;
  width:96px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:477px;
  top:40px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:604px;
  top:40px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:730px;
  top:40px;
  width:160px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:70px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:95px;
  top:70px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:190px;
  top:70px;
  width:82px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:272px;
  top:70px;
  width:109px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:381px;
  top:70px;
  width:96px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:477px;
  top:70px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:604px;
  top:70px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:730px;
  top:70px;
  width:160px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:100px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:95px;
  top:100px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:190px;
  top:100px;
  width:82px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:272px;
  top:100px;
  width:109px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:381px;
  top:100px;
  width:96px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:477px;
  top:100px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:604px;
  top:100px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:730px;
  top:100px;
  width:160px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:270px;
  top:81px;
  width:57px;
  height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:336px;
  top:77px;
  width:84px;
  height:22px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u83_input {
  font-family:'应用字体';
}
#u83_input:disabled {
  color:grayText;
}
#u84 {
  position:absolute;
  left:130px;
  top:40px;
  width:300px;
  height:30px;
}
#u84_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:130px;
  top:77px;
  width:130px;
  height:24px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u93 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:148px;
  top:729px;
  width:549px;
  height:35px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:130px;
  top:258px;
  width:255px;
  height:207px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:207px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:510px;
  top:258px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
