body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1115px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:607px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  position:absolute;
  left:0px;
  top:70px;
  width:1115px;
  height:607px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:296px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u1150 {
  position:absolute;
  left:153px;
  top:53px;
  width:962px;
  height:56px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:20px;
  width:958px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1154 {
  position:absolute;
  left:1022px;
  top:24px;
  width:17px;
  height:15px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1156 {
  position:absolute;
  left:894px;
  top:24px;
  width:17px;
  height:15px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1158 {
  position:absolute;
  left:1050px;
  top:23px;
  width:39px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1160 {
  position:absolute;
  left:967px;
  top:17px;
  width:20px;
  height:18px;
  color:#FFFFFF;
}
#u1161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1162 {
  position:absolute;
  left:961px;
  top:24px;
  width:17px;
  height:15px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1166 {
  position:absolute;
  left:217px;
  top:74px;
  width:5px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1168 {
  position:absolute;
  left:169px;
  top:74px;
  width:121px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1172 {
  position:absolute;
  left:159px;
  top:211px;
  width:949px;
  height:217px;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1174 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1175 {
  position:absolute;
  left:95px;
  top:0px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1176 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1177 {
  position:absolute;
  left:209px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1178 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1179 {
  position:absolute;
  left:311px;
  top:0px;
  width:124px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1180 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:435px;
  top:0px;
  width:127px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1182 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:562px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1184 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:680px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1186 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:815px;
  top:0px;
  width:129px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1188 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1190 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1191 {
  position:absolute;
  left:95px;
  top:30px;
  width:114px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1193 {
  position:absolute;
  left:209px;
  top:30px;
  width:102px;
  height:30px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:311px;
  top:30px;
  width:124px;
  height:30px;
  text-decoration:underline;
  color:#0033FF;
}
#u1196 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1197 {
  position:absolute;
  left:435px;
  top:30px;
  width:127px;
  height:30px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u1199 {
  position:absolute;
  left:562px;
  top:30px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1200 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u1201 {
  position:absolute;
  left:680px;
  top:30px;
  width:135px;
  height:30px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1203 {
  position:absolute;
  left:815px;
  top:30px;
  width:129px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1206 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u1207 {
  position:absolute;
  left:95px;
  top:60px;
  width:114px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1208 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u1209 {
  position:absolute;
  left:209px;
  top:60px;
  width:102px;
  height:31px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:31px;
}
#u1211 {
  position:absolute;
  left:311px;
  top:60px;
  width:124px;
  height:31px;
  text-decoration:underline;
  color:#0033FF;
}
#u1212 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u1213 {
  position:absolute;
  left:435px;
  top:60px;
  width:127px;
  height:31px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
}
#u1215 {
  position:absolute;
  left:562px;
  top:60px;
  width:118px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1216 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u1217 {
  position:absolute;
  left:680px;
  top:60px;
  width:135px;
  height:31px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u1219 {
  position:absolute;
  left:815px;
  top:60px;
  width:129px;
  height:31px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:91px;
  width:95px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:31px;
}
#u1223 {
  position:absolute;
  left:95px;
  top:91px;
  width:114px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1224 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u1225 {
  position:absolute;
  left:209px;
  top:91px;
  width:102px;
  height:31px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:31px;
}
#u1227 {
  position:absolute;
  left:311px;
  top:91px;
  width:124px;
  height:31px;
  text-decoration:underline;
  color:#0033FF;
}
#u1228 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u1229 {
  position:absolute;
  left:435px;
  top:91px;
  width:127px;
  height:31px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
}
#u1231 {
  position:absolute;
  left:562px;
  top:91px;
  width:118px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u1233 {
  position:absolute;
  left:680px;
  top:91px;
  width:135px;
  height:31px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u1235 {
  position:absolute;
  left:815px;
  top:91px;
  width:129px;
  height:31px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:6px;
  width:125px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:122px;
  width:95px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1238 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:45px;
}
#u1239 {
  position:absolute;
  left:95px;
  top:122px;
  width:114px;
  height:45px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:15px;
  width:110px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u1241 {
  position:absolute;
  left:209px;
  top:122px;
  width:102px;
  height:45px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:45px;
}
#u1243 {
  position:absolute;
  left:311px;
  top:122px;
  width:124px;
  height:45px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:15px;
  width:120px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u1245 {
  position:absolute;
  left:435px;
  top:122px;
  width:127px;
  height:45px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u1247 {
  position:absolute;
  left:562px;
  top:122px;
  width:118px;
  height:45px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
}
#u1249 {
  position:absolute;
  left:680px;
  top:122px;
  width:135px;
  height:45px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1251 {
  position:absolute;
  left:815px;
  top:122px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1252 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:167px;
  width:95px;
  height:45px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:45px;
}
#u1255 {
  position:absolute;
  left:95px;
  top:167px;
  width:114px;
  height:45px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u1257 {
  position:absolute;
  left:209px;
  top:167px;
  width:102px;
  height:45px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:45px;
}
#u1259 {
  position:absolute;
  left:311px;
  top:167px;
  width:124px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1260 {
  position:absolute;
  left:2px;
  top:14px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u1261 {
  position:absolute;
  left:435px;
  top:167px;
  width:127px;
  height:45px;
  color:#FF0000;
}
#u1262 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:45px;
}
#u1263 {
  position:absolute;
  left:562px;
  top:167px;
  width:118px;
  height:45px;
  color:#FF0000;
}
#u1264 {
  position:absolute;
  left:2px;
  top:14px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
}
#u1265 {
  position:absolute;
  left:680px;
  top:167px;
  width:135px;
  height:45px;
  color:#FF0000;
}
#u1266 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1267 {
  position:absolute;
  left:815px;
  top:167px;
  width:129px;
  height:45px;
  color:#FF0000;
}
#u1268 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1269 {
  position:absolute;
  left:965px;
  top:119px;
  width:64px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1270 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:159px;
  top:123px;
  width:47px;
  height:20px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1273 {
  position:absolute;
  left:210px;
  top:122px;
  width:89px;
  height:22px;
}
#u1273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1273_input:disabled {
  color:grayText;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1274 {
  position:absolute;
  left:319px;
  top:123px;
  width:47px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1276 {
  position:absolute;
  left:370px;
  top:122px;
  width:89px;
  height:22px;
}
#u1276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1276_input:disabled {
  color:grayText;
}
#u1277 {
  position:absolute;
  left:545px;
  top:121px;
  width:89px;
  height:25px;
}
#u1277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1278 {
  position:absolute;
  left:478px;
  top:123px;
  width:61px;
  height:20px;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1280 {
  position:absolute;
  left:159px;
  top:433px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1281 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:699px;
  top:121px;
  width:89px;
  height:25px;
}
#u1282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  position:absolute;
  left:647px;
  top:123px;
  width:47px;
  height:20px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1285 {
  position:absolute;
  left:1039px;
  top:119px;
  width:64px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1286 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u1287 {
  position:absolute;
  left:338px;
  top:62px;
  width:381px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u1288 {
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:521px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 188, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:0px;
  top:53px;
  width:137px;
  height:521px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:252px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:224px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  position:absolute;
  left:0px;
  top:164px;
  width:137px;
  height:224px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:104px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1293 {
  position:absolute;
  left:13px;
  top:74px;
  width:15px;
  height:15px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1295 {
  position:absolute;
  left:14px;
  top:130px;
  width:15px;
  height:15px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1297 {
  position:absolute;
  left:13px;
  top:464px;
  width:15px;
  height:15px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1299 {
  position:absolute;
  left:13px;
  top:520px;
  width:15px;
  height:15px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1301 {
  position:absolute;
  left:38px;
  top:67px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1303 {
  position:absolute;
  left:39px;
  top:131px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1305 {
  position:absolute;
  left:38px;
  top:457px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1307 {
  position:absolute;
  left:38px;
  top:520px;
  width:25px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1309 {
  position:absolute;
  left:109px;
  top:129px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1310 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:0px;
  top:4px;
  width:137px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1312 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1313 {
  position:absolute;
  left:0px;
  top:220px;
  width:137px;
  height:56px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:81px;
  top:239px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(134, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:0px;
  top:275px;
  width:137px;
  height:56px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1319 {
  position:absolute;
  left:81px;
  top:343px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1321 {
  position:absolute;
  left:81px;
  top:183px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1324 {
  position:absolute;
  left:81px;
  top:294px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:0px;
  top:383px;
  width:137px;
  height:56px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:81px;
  top:402px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:159px;
  top:160px;
  width:69px;
  height:20px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:228px;
  top:155px;
  width:175px;
  height:28px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1334 {
  position:absolute;
  left:806px;
  top:123px;
  width:33px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1336 {
  position:absolute;
  left:844px;
  top:122px;
  width:89px;
  height:22px;
}
#u1336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1336_input:disabled {
  color:grayText;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:478px;
  top:161px;
  width:61px;
  height:20px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1339 {
  position:absolute;
  left:545px;
  top:156px;
  width:149px;
  height:25px;
}
#u1339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
