body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:170px;
  width:318px;
  height:185px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:185px;
}
#u8 {
  position:absolute;
  left:2px;
  top:84px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:158px;
  top:132px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:410px;
  top:140px;
  width:320px;
  height:215px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:215px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:33px;
  top:355px;
  width:323px;
  height:95px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:0px;
  width:228px;
  height:32px;
  color:#FF6600;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:224px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:32px;
  width:90px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:90px;
  top:32px;
  width:228px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF6600;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:224px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:62px;
  width:90px;
  height:28px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:62px;
  width:228px;
  height:28px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:307px;
  top:357px;
  width:41px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:383px;
  width:300px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u29 {
  position:absolute;
  left:40px;
  top:415px;
  width:300px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u30 {
  position:absolute;
  left:307px;
  top:390px;
  width:41px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:406px;
  top:202px;
  width:280px;
  height:18px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:470px;
  width:300px;
  height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
