body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:36px;
  top:46px;
  width:244px;
  height:434px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u1 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:36px;
  top:389px;
  width:249px;
  height:96px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:81px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:162px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:81px;
  top:30px;
  width:81px;
  height:30px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:162px;
  top:30px;
  width:82px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  width:81px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:81px;
  top:60px;
  width:81px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:162px;
  top:60px;
  width:82px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:341px;
  top:46px;
  width:244px;
  height:434px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u22 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:720px;
  top:70px;
  width:244px;
  height:197px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:197px;
}
#u24 {
  position:absolute;
  left:2px;
  top:90px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:413px;
  top:180px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:413px;
  top:260px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:796px;
  top:192px;
  width:92px;
  height:51px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:51px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:190px;
  top:440px;
  width:150px;
  height:0px;
}
#u31_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:164px;
  height:20px;
}
#u32 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:207px;
  top:416px;
  width:126px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:170px;
  top:446px;
  width:160px;
  height:384px;
}
#u35_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:398px;
}
#u35_seg1 {
  position:absolute;
  left:-10px;
  top:374px;
  width:174px;
  height:20px;
}
#u36 {
  position:absolute;
  left:-50px;
  top:264px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:510px;
  top:210px;
  width:200px;
  height:0px;
}
#u37_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:214px;
  height:20px;
}
#u38 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:207px;
  top:802px;
  width:126px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:341px;
  top:666px;
  width:244px;
  height:434px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u42 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:735px;
  top:666px;
  width:244px;
  height:434px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u44 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:769px;
  top:800px;
  width:180px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:363px;
  top:750px;
  width:200px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:130px;
}
#u48 {
  position:absolute;
  left:2px;
  top:56px;
  width:196px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:570px;
  top:830px;
  width:155px;
  height:0px;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:169px;
  height:20px;
}
#u50 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:757px;
  top:730px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:930px;
  top:669px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:930px;
  top:699px;
  width:33px;
  height:45px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:45px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1149px;
  top:666px;
  width:386px;
  height:534px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:534px;
}
#u58 {
  position:absolute;
  left:2px;
  top:259px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1155px;
  top:730px;
  width:310px;
  height:106px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:106px;
}
#u60 {
  position:absolute;
  left:2px;
  top:45px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1168px;
  top:756px;
  width:65px;
  height:65px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u62 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1170px;
  top:718px;
  width:262px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:80px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1149px;
  top:1150px;
  width:386px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1243px;
  top:765px;
  width:180px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:985px;
  top:684px;
  width:155px;
  height:0px;
}
#u69_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:169px;
  height:20px;
}
#u70 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:736px;
  top:1215px;
  width:244px;
  height:434px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u72 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:770px;
  top:1349px;
  width:180px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:758px;
  top:1279px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:900px;
  top:1083px;
  width:0px;
  height:120px;
}
#u77_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:134px;
}
#u78 {
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:919px;
  top:1150px;
  width:92px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:930px;
  top:638px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:840px;
  top:1650px;
  width:0px;
  height:110px;
}
#u83_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:124px;
}
#u84 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1149px;
  top:1318px;
  width:244px;
  height:164px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:164px;
}
#u86 {
  position:absolute;
  left:2px;
  top:74px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1184px;
  top:1424px;
  width:183px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1038px;
  top:1391px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:980px;
  top:1420px;
  width:150px;
  height:0px;
}
#u91_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:164px;
  height:20px;
}
#u92 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:854px;
  top:1680px;
  width:131px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:735px;
  top:1776px;
  width:244px;
  height:434px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u96 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:769px;
  top:1910px;
  width:180px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:757px;
  top:1840px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u100 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:930px;
  top:1780px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:930px;
  top:1810px;
  width:33px;
  height:45px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:45px;
}
#u104 {
  position:absolute;
  left:2px;
  top:14px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:757px;
  top:1970px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u106 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:989px;
  top:2011px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:450px;
  top:310px;
  width:0px;
  height:350px;
}
#u109_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:364px;
}
#u110 {
  position:absolute;
  left:-50px;
  top:167px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1465px;
  top:778px;
  width:445px;
  height:92px;
}
#u111_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:16px;
}
#u111_seg1 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:465px;
  height:20px;
}
#u111_seg2 {
  position:absolute;
  left:435px;
  top:-8px;
  width:20px;
  height:104px;
}
#u112 {
  position:absolute;
  left:216px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1626px;
  top:895px;
  width:244px;
  height:434px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u114 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1660px;
  top:1029px;
  width:180px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:54px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1946px;
  top:895px;
  width:244px;
  height:434px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:434px;
}
#u118 {
  position:absolute;
  left:2px;
  top:209px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1698px;
  top:873px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:2018px;
  top:873px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1974px;
  top:965px;
  width:130px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1974px;
  top:997px;
  width:130px;
  height:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u126 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:2114px;
  top:965px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1974px;
  top:940px;
  width:79px;
  height:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:2080px;
  top:1180px;
  width:-280px;
  height:130px;
}
#u131_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:214px;
}
#u131_seg1 {
  position:absolute;
  left:-290px;
  top:190px;
  width:300px;
  height:20px;
}
#u131_seg2 {
  position:absolute;
  left:-290px;
  top:126px;
  width:20px;
  height:84px;
}
#u132 {
  position:absolute;
  left:-125px;
  top:192px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:2114px;
  top:996px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1899px;
  top:1358px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
