body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2931 {
  position:absolute;
  left:8px;
  top:126px;
  width:113px;
  height:206px;
}
#u2931_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:119px;
  height:212px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2932 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:211px;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2934 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u2935 {
  position:absolute;
  left:0px;
  top:22px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2936 {
  position:absolute;
  left:2px;
  top:3px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u2937 {
  position:absolute;
  left:0px;
  top:44px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2938 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2939 {
  position:absolute;
  left:0px;
  top:66px;
  width:113px;
  height:20px;
  text-align:left;
}
#u2940 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2941 {
  position:absolute;
  left:0px;
  top:86px;
  width:113px;
  height:30px;
  text-align:left;
}
#u2942 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2943 {
  position:absolute;
  left:0px;
  top:116px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2944 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2945 {
  position:absolute;
  left:0px;
  top:146px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2946 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u2947 {
  position:absolute;
  left:0px;
  top:176px;
  width:113px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2948 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2949 {
  position:absolute;
  left:8px;
  top:8px;
  width:920px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2950 {
  position:absolute;
  left:2px;
  top:41px;
  width:916px;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u2951 {
  position:absolute;
  left:8px;
  top:277px;
  width:112px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2952 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2953 {
  position:absolute;
  left:132px;
  top:125px;
  width:57px;
  height:20px;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
