body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u980 {
  position:absolute;
  left:16px;
  top:5px;
  width:894px;
  height:496px;
  font-size:18px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  word-wrap:break-word;
}
