body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:35px;
  top:170px;
  width:315px;
  height:294px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:294px;
}
#u8 {
  position:absolute;
  left:2px;
  top:139px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:35px;
  top:471px;
  width:244px;
  height:65px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:65px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:286px;
  top:478px;
  width:61px;
  height:50px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:57px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:43px;
  top:233px;
  width:244px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:43px;
  top:176px;
  width:54px;
  height:49px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:49px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:396px;
  top:110px;
  width:436px;
  height:112px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:112px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:43px;
  top:479px;
  width:233px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:296px;
  top:256px;
  width:46px;
  height:46px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:224px;
  top:312px;
  width:118px;
  height:13px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:43px;
  top:576px;
  width:299px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:43px;
  top:600px;
  width:299px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:176px;
  top:132px;
  width:33px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
