body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:401px;
  top:62px;
  width:360px;
  height:640px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:402px;
  top:63px;
  width:358px;
  height:36px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1938 {
  position:absolute;
  left:406px;
  top:72px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u1940 {
  position:absolute;
  left:421px;
  top:112px;
  width:102px;
  height:102px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:437px;
  top:222px;
  width:71px;
  height:20px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u1944 {
  position:absolute;
  left:523px;
  top:221px;
  width:12px;
  height:17px;
  color:#FF99FF;
}
#u1945 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u1948 {
  position:absolute;
  left:618px;
  top:113px;
  width:54px;
  height:55px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
}
#u1950 {
  position:absolute;
  left:633px;
  top:148px;
  width:26px;
  height:17px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
}
#u1952 {
  position:absolute;
  left:616px;
  top:169px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1954 {
  position:absolute;
  left:771px;
  top:183px;
  width:211px;
  height:72px;
  color:#FF0000;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1958 {
  position:absolute;
  left:564px;
  top:196px;
  width:59px;
  height:20px;
  color:#000000;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1960 {
  position:absolute;
  left:564px;
  top:221px;
  width:75px;
  height:20px;
  color:#000000;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1963 {
  position:absolute;
  left:661px;
  top:196px;
  width:67px;
  height:20px;
  color:#000000;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1965 {
  position:absolute;
  left:661px;
  top:220px;
  width:59px;
  height:20px;
  color:#000000;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:421px;
  top:405px;
  width:320px;
  height:20px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:421px;
  top:519px;
  width:61px;
  height:20px;
  font-size:14px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1971 {
  position:absolute;
  left:421px;
  top:551px;
  width:320px;
  height:87px;
}
#u1971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:421px;
  top:444px;
  width:353px;
  height:20px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:421px;
  top:482px;
  width:353px;
  height:20px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:500px;
  top:442px;
  width:241px;
  height:22px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1976_input:disabled {
  color:grayText;
}
#u1977 {
  position:absolute;
  left:500px;
  top:477px;
  width:241px;
  height:25px;
}
#u1977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:421px;
  top:369px;
  width:320px;
  height:20px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1980 {
  position:absolute;
  left:421px;
  top:262px;
  width:320px;
  height:1px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:421px;
  top:654px;
  width:320px;
  height:32px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:528px;
  top:70px;
  width:107px;
  height:20px;
  color:#FFFFFF;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1986 {
  position:absolute;
  left:421px;
  top:332px;
  width:216px;
  height:20px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1988 {
  position:absolute;
  left:500px;
  top:364px;
  width:241px;
  height:25px;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:11px;
  top:21px;
  width:491px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:11px;
  top:62px;
  width:360px;
  height:640px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  position:absolute;
  left:12px;
  top:63px;
  width:358px;
  height:36px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:16px;
  top:72px;
  width:37px;
  height:20px;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u1998 {
  position:absolute;
  left:31px;
  top:112px;
  width:102px;
  height:102px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2000 {
  position:absolute;
  left:47px;
  top:222px;
  width:71px;
  height:20px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u2002 {
  position:absolute;
  left:133px;
  top:221px;
  width:12px;
  height:17px;
  color:#FF99FF;
}
#u2003 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2006 {
  position:absolute;
  left:174px;
  top:196px;
  width:51px;
  height:20px;
  color:#000000;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2008 {
  position:absolute;
  left:174px;
  top:221px;
  width:51px;
  height:20px;
  color:#000000;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2011 {
  position:absolute;
  left:271px;
  top:196px;
  width:51px;
  height:20px;
  color:#000000;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2013 {
  position:absolute;
  left:271px;
  top:220px;
  width:59px;
  height:20px;
  color:#000000;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u2015 {
  position:absolute;
  left:31px;
  top:262px;
  width:320px;
  height:1px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2017 {
  position:absolute;
  left:31px;
  top:506px;
  width:320px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2018 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:138px;
  top:70px;
  width:107px;
  height:20px;
  color:#FFFFFF;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:207px;
  top:130px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2023 {
  position:absolute;
  left:31px;
  top:316px;
  width:320px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2024 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2025 {
  position:absolute;
  left:421px;
  top:287px;
  width:85px;
  height:20px;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2027 {
  position:absolute;
  left:31px;
  top:281px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
