body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:85px;
  width:113px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:25px;
  width:222px;
  height:39px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:87px;
  top:170px;
  width:121px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:380px;
  top:25px;
  width:320px;
  height:481px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:481px;
}
#u7 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:431px;
  top:289px;
  width:221px;
  height:11px;
  font-size:20px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:11px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:720px;
  top:230px;
  width:60px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:720px;
  top:135px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
