body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:7px;
  width:670px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:290px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:400px;
  width:370px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:366px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:321px;
  width:370px;
  height:69px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:69px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
