body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:130px;
  width:30px;
  height:30px;
  font-family:'PrestigeEliteStd-Bd', 'Prestige Elite Std Bold', 'Prestige Elite Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:420px;
  top:120px;
  width:450px;
  height:635px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:635px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:131px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:620px;
  top:259px;
  width:180px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:50px;
  top:388px;
  width:297px;
  height:16px;
  font-size:14px;
  color:#0066FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:44px;
  top:409px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:18px;
  width:43px;
  height:14px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:70px;
  top:12px;
  width:183px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:0px;
  top:53px;
  width:43px;
  height:14px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:71px;
  top:47px;
  width:182px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:0px;
  top:88px;
  width:71px;
  height:14px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:71px;
  top:82px;
  width:182px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:0px;
  top:123px;
  width:71px;
  height:14px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:184px;
  width:71px;
  height:14px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:71px;
  top:178px;
  width:182px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u29 {
  position:absolute;
  left:71px;
  top:117px;
  width:200px;
  height:51px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u30 {
  position:absolute;
  left:263px;
  top:18px;
  width:16px;
  height:15px;
  color:#FF3300;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:263px;
  top:52px;
  width:16px;
  height:15px;
  color:#FF3300;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:263px;
  top:87px;
  width:16px;
  height:15px;
  color:#FF3300;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:281px;
  top:135px;
  width:16px;
  height:15px;
  color:#FF3300;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:263px;
  top:183px;
  width:16px;
  height:15px;
  color:#FF3300;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:258px;
  top:0px;
  width:27px;
  height:13px;
  color:#FF3300;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:57px;
  top:630px;
  width:273px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:13px;
  width:269px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:460px;
  top:523px;
  width:298px;
  height:89px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u45 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:32px;
  top:164px;
  width:320px;
  height:172px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:172px;
}
#u47 {
  position:absolute;
  left:2px;
  top:78px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:32px;
  top:249px;
  width:320px;
  height:51px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:44px;
  top:256px;
  width:98px;
  height:38px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u51 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:57px;
  top:258px;
  width:24px;
  height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:88px;
  top:265px;
  width:27px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:31px;
  top:287px;
  width:315px;
  height:92px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:92px;
}
#u57 {
  position:absolute;
  left:2px;
  top:38px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
