body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1366_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1366_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369 {
  position:absolute;
  left:12px;
  top:556px;
  width:300px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1370 {
  position:absolute;
  left:331px;
  top:556px;
  width:300px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1371 {
  position:absolute;
  left:12px;
  top:844px;
  width:300px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1372 {
  position:absolute;
  left:331px;
  top:844px;
  width:300px;
  height:266px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1373 {
  position:absolute;
  left:0px;
  top:230px;
  width:640px;
  height:294px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376 {
  position:absolute;
  left:453px;
  top:132px;
  width:186px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1377 {
  position:absolute;
  left:16px;
  top:212px;
  width:608px;
  height:870px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1378 {
  position:absolute;
  left:137px;
  top:680px;
  width:359px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1379 {
  position:absolute;
  left:137px;
  top:976px;
  width:359px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1380 {
  position:absolute;
  left:497px;
  top:890px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1381 {
  position:absolute;
  left:137px;
  top:386px;
  width:359px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:21px;
  top:342px;
  width:605px;
  height:794px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387 {
  position:absolute;
  left:0px;
  top:290px;
  width:640px;
  height:846px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:22px;
  top:220px;
  width:598px;
  height:904px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_state6 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1730px;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1730px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:857px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395 {
  position:absolute;
  left:0px;
  top:588px;
  width:640px;
  height:934px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1396 {
  position:absolute;
  left:511px;
  top:905px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1397 {
  position:absolute;
  left:21px;
  top:1630px;
  width:598px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state7 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  position:absolute;
  left:470px;
  top:641px;
  width:89px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1401 {
  position:absolute;
  left:25px;
  top:436px;
  width:590px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state8 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404 {
  position:absolute;
  left:502px;
  top:140px;
  width:120px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1405 {
  position:absolute;
  left:36px;
  top:493px;
  width:156px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1366_state9 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1366_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408 {
  position:absolute;
  left:502px;
  top:140px;
  width:120px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1409 {
  position:absolute;
  left:21px;
  top:493px;
  width:156px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:196px;
}
#u1410 {
  position:absolute;
  left:28px;
  top:284px;
  width:588px;
  height:196px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:90px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412 {
  position:absolute;
  left:222px;
  top:830px;
  width:198px;
  height:192px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1413 {
  position:absolute;
  left:466px;
  top:493px;
  width:156px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:196px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u1414 {
  position:absolute;
  left:28px;
  top:284px;
  width:588px;
  height:196px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u1415 {
  position:absolute;
  left:2px;
  top:84px;
  width:584px;
  word-wrap:break-word;
}
#u1416 {
  position:absolute;
  left:0px;
  top:38px;
  width:92px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
