body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:607px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:1000px;
  height:607px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:53px;
  width:863px;
  height:56px;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:521px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 188, 213, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:137px;
  height:521px;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:224px;
  background:inherit;
  background-color:rgba(23, 182, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:137px;
  height:224px;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(134, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:137px;
  height:56px;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:74px;
  width:15px;
  height:15px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:130px;
  width:15px;
  height:15px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:409px;
  width:15px;
  height:15px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:464px;
  width:15px;
  height:15px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:520px;
  width:15px;
  height:15px;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:67px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:129px;
  width:27px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:402px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:457px;
  width:25px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:520px;
  width:25px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:129px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:183px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:298px;
  width:53px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:24px;
  width:15px;
  height:15px;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:24px;
  width:15px;
  height:15px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:23px;
  width:39px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:17px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u3665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:24px;
  width:15px;
  height:15px;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:137px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  word-wrap:break-word;
}
#u3669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:242px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:75px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:75px;
  width:53px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:77px;
  width:15px;
  height:15px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:75px;
  width:53px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:77px;
  width:15px;
  height:15px;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:199px;
  width:56px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:199px;
  width:240px;
  height:25px;
}
#u3684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:247px;
  width:56px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:247px;
  width:240px;
  height:53px;
}
#u3687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:318px;
  width:321px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:140px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:348px;
  width:240px;
  height:140px;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:498px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u3694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:232px;
  width:197px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u3696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:587px;
  width:105px;
  height:30px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u3698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:587px;
  width:105px;
  height:30px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:179px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:269px;
  width:178px;
  height:179px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:587px;
  width:105px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u3704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:146px;
  width:30px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:146px;
  width:240px;
  height:25px;
}
#u3706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:28px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:148px;
  width:507px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u3709_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:272px;
  height:31px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:508px;
  width:257px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:480px;
  width:449px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u3713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:562px;
  width:251px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
